<div class="enhavo" data-ng-init="init2()">
  <h1>Membroj de {{grupo.nomo}}</h1>
    <label>Serĉi:
      <input class="form-control" ng-model="filtrilo">
    </label>
    <p>Entuta membraro {{query.length}}</p>
    <a href="" ng-click="filtri()">
      Klaku por vidi nur novajn membrojn (sen UEA-kodo)
    </a>

    <table class="table">
    <tdead>
      <tr>
        <td>Homo</td>
        <td>Komencdato</td>
        <td>Findato</td>
      </tr>
    </tdead>
    <tbody>
      <tr ng-repeat="membro in membroj | orderBy:'personanomo' | filter: filtrilo as query">
        <td>
          {{membro.personanomo}} {{membro.familianomo}}
          <a href="#!/uzantoj/{{membro.idAno}}">Vidi detalojn >></a>
        </td>
        <td>{{strip(membro.komencdato)}}</td>
        <td>{{strip(membro.findato) || "Dumviva"}}</td>
      </tr>
    </tbody>
  </table>
</div>
