<div class="enhavo" data-ng-init="init2()">
  <h1>Membrecpetoj al {{grupo.nomo}}</h1>
  <span>
    <label>Serĉi: <input ng-model="searchText" class="form-control"></label>
    (konsileto: vi povas filtri la pagmanieron tajpante: paypal, ueakonto, ktp)
  </span>
  <table class="table">
    <tdead>
      <tr>
        <td>Homo</td>
        <td>Komencdato</td>
        <td>Findato</td>
        <td>observoj</td>
        <td>Aprobi</td>
        <td>Malaprobi</td>
      </tr>
    </tdead>

    <tbody>
      <tr ng-repeat="peto in anecpetoj | orderBy:'personanomo' | filter:searchText">
        <td>{{peto.personanomo}} {{peto.familianomo}}
           <a href="#!/uzantoj/{{peto.idAno}}">Vidi detalojn >></a>
         </td>
        <td>{{strip(peto.komencdato)}}</td>
        <td>{{strip(peto.findato) || "Dumviva"}}</td>
        <td ng-bind-html="peto.observoj"></td>
        <td>
          <button class="btn btn-success"  ng-click="aprobi(peto)">
            <i class="fa fa-check" aria-hidden="true"></i> Aprobi
          </button>
        </td>
        <td>
          <button class="btn btn-danger"  ng-click="forvisxiAnecon(peto)">
            <i class="fa fa-trash" aria-hidden="true"></i> Malaprobi
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
